#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
}

.button-container {
  margin-top: 1.5rem;
}

h1 {
  color: #ccc;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  nav {
    color: #666;
  }
}
